soare-surse/int/
soare-surse/.vs/
soare-surse/bin/
*.db
*.vmdk
*.opendb
soare-tools/vmware.log
soare-tools/soare-iso/boot/soare.bin
soare-tools/soare.iso
soare-tools/boot_hybrid.img
soare-tools/bx_enh_dbg.ini
soare-tools/eltorito.img
soare-tools/soare-iso-old/boot/grub/grub.cfg
soare-tools/soare-iso-old/boot/soare.bin
soare-tools/soare-iso/soare/boot/grub/grub.cfg
soare-tools/soare-iso/soare/boot/soare.bin
soare-tools/soare-ubuntu.iso
soare-tools/soare.iso.old
soare-surse/tools/vsyasm/vsyasm.exe
